@import "compass_twitter_bootstrap";
#dropzone {
    background-color: #ccc;
    border          : 1px solid #aaa;
    border-radius   : 5px;
    float           : left;
    /*min-height      : 300px;*/
    width           : 300px;

    h1 {
        color      : #333;
        /*line-height: 290px;*/
        /*margin-top : 0;*/
        text-align : center;
        text-shadow: 0 1px 0 #fff;
    }

    ul {
        margin: 20px 0 20px 20px;
        width : 262px;
    }

    li {
        background-color: #BBB;
        border          : 1px solid #999;
        border-radius   : 2px;
        margin          : 5px 0 0;
        padding         : 10px;
        width           : 240px;
    }
}

.over {
    border-style: dashed;
}

.moving {
    opacity: .4;
}

.hero-unit {
    overflow: hidden;
}

ul {
    float: left;
    margin: 0 0 0 20px;
}

li {
    /*border-radius  : 2px;*/
    list-style-type: none;
    margin         : 20px 0 0 0;
    opacity        : 1;
    position       : relative;
    width          : 400px;
}

li > span {
    background-color: #444;
    border-radius   : 50%;
    color           : white;
    cursor          : pointer;
    font-weight     : bold;
    height          : 20px;
    line-height     : 18px;
    position        : absolute;
    right           : 10px;
    text-align      : center;
    top             : 10px;
    width           : 20px;

    &:hover {
        background-color: #777;
    }
}

li:first-child {
    margin-top: 0;
}

.items {
    background-color: #ddd;
    min-height      : 44px;
    width           : 400px;

    a {
        background-color: #bbb;
        border          : 1px solid #999;
        color           : #fefefe;
        cursor          : move;
        display         : block;
        height          : 42px;
        line-height     : 42px;
        padding-left    : 10px;
    }
}

[draggable] {
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}
