@import "compass_twitter_bootstrap";
#dropzone {
    background-color: #ccc;
    border          : 1px solid #aaa;
    border-radius   : 5px;
    float           : left;
    height          : 300px;
    width           : 300px;
}

#dropzone h1 {
    color      : #333;
    line-height: 290px;
    margin-top : 0;
    text-align : center;
    text-shadow: 0 1px 0 #fff;
}

.hero-unit {
    overflow: hidden;
}

ul {
    float: left;
    margin: 0 0 0 20px;
}

li {
    list-style-type: none;
    margin         : 20px 0 0 0;
    width          : 400px;
}

li:first-child {
    margin-top: 0;
}

li > a {
    background-color: #bbb;
    color           : #fefefe;
    height          : 44px;
    display         : block;
    line-height     : 44px;
    padding-left    : 10px;
}

[draggable] {
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}
