@import "compass_twitter_bootstrap";
#dropzone {
    background-color: #ccc;
    border          : 1px solid #aaa;
    border-radius   : 5px;
    float           : left;
    /*min-height      : 300px;*/
    width           : 300px;

    h1 {
        color      : #333;
        text-align : center;
        text-shadow: 0 1px 0 #fff;
    }
}

.cart {
    width: 280px;
    margin: 0 auto 10px;

    & .item {
        width: 270px;
    }

    p {
        span {display: none;}
    }
}

.over {
    border-style: dashed;
}

.moving {
    opacity: .4;
}

// span {
//     background-color: #444;
//     border-radius   : 50%;
//     color           : white;
//     cursor          : pointer;
//     font-weight     : bold;
//     height          : 20px;
//     line-height     : 18px;
//     position        : absolute;
//     right           : 10px;
//     text-align      : center;
//     top             : 10px;
//     width           : 20px;

//     &:hover {
//         background-color: #777;
//     }
// }

.items {
    background-color: #ddd;
    float           : left;
    margin          : 0 0 0 20px;
    min-height      : 44px;
    width           : 400px;
}

.item {
    background-color : #bbb;
    border           : 1px solid #999;
    border-radius    : 4px;
    cursor           : move;
    margin           : 10px auto;
    margin-top       : 15px;
    position         : relative;
    width            : 380px;

    // &:first-child {margin-top: 0;}

    p {
        display      : block;
        height       : 42px;
        line-height  : 42px;
        margin       : 0;
        padding-left : 10px;
        text-shadow: 0 1px 0 rgba(255,255,255,.6);
    }

    span {
        position: absolute;
        right: 10px;
    }
}

[draggable] {
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}
