@import "compass_twitter_bootstrap";
#dropzone {
    background-color: #ccc;
    border          : 1px solid #aaa;
    border-radius   : 5px;
    float           : left;
    height          : 300px;
    width           : 300px;
}

#dropzone h1 {
    color      : #333;
    /*line-height: 290px;*/
    /*margin-top : 0;*/
    text-align : center;
    text-shadow: 0 1px 0 #fff;
}

#dropzone li {
    margin: 0;
    width : auto;
}

.over {
    border-style: dashed;
}

.moving {
    opacity: .4;
}

.hero-unit {
    overflow: hidden;
}

ul {
    float: left;
    margin: 0 0 0 20px;
}

li {
    /*border-radius  : 2px;*/
    list-style-type: none;
    margin         : 20px 0 0 0;
    opacity        : 1;
    width          : 400px;
}

li:first-child {
    margin-top: 0;
}

.items {
    background-color: #ddd;
    min-height      : 44px;
    width           : 400px;

    a {
        background-color: #bbb;
        border          : 1px solid #999;
        color           : #fefefe;
        cursor          : move;
        display         : block;
        height          : 42px;
        line-height     : 42px;
        padding-left    : 10px;
    }
}

[draggable] {
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}
